.home {
  padding-top: 150px;
}

.posts h2 {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  font-size: 30px;
  padding: 20px;
  padding-bottom: 20px;
  margin-left: 7%;
  width: 86%;
}

.home-posts {
  padding-top: 20px;
  width: 70%;
  position: relative;
  margin: 0 6rem;
}

.p-card {
  text-align: start;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  height: 15rem;
}

.p-card h4 {
  font-size: 20px;
  margin: 10px 10px 10px 0;
}

.upper-part {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
}
